@import "tailwindcss";
html.dark {
  background-color: #111827; /* slate-900 */
}

@keyframes scroll {
  0% { transform: translateX(100%) }
  100% { transform: translateX(-100%) }
}

.animate-marquee {
  display: inline-block;
  animation: scroll 45s linear infinite;
}


@keyframes flashGreen {
  0% { background-color: rgba(16,185,129,0.4); }
  100% { background-color: transparent; }
}
@keyframes flashRed {
  0% { background-color: rgba(239,68,68,0.4); }
  100% { background-color: transparent; }
}

.flash-green {
  animation: flashGreen 0.5s ease-in-out;
}
.flash-red {
  animation: flashRed 0.5s ease-in-out;
}
